@import 'src/styles/variables';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

hr {
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
}

h1 {
    font-weight: 400 !important;
    font-size: 2.5em !important;
}

.error {
    color: red;
}

.center-col {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.left-row {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}

.list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px;
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 500px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.list-infos {
    display: flex;
    flex-direction: row;

    p {
        margin-right: 30px;
    }
}

.card h3 {
    color: #333;
    margin-bottom: 10px;
}

.card p {
    color: #555;
    font-size: 14px;
    margin-bottom: 20px;
}

.back-button {
    position: relative;
    top: 35px;
    left: 15px;
}

.form-field  {
    min-width: 20%;
}