button {
  margin-left: 1%;
  margin-right: 1%;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media (max-width: 690px) {
  img {
    width: 100%;
  }

  .buttons {
    flex-direction: column;
    gap: 20px;
  }
}